.portfolios-wrapper{
  padding-top: 80px;
  .title{
    text-align: center;
    font-size: 60px;
  }
  .portfolios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding : 10px 200px;
    // justify-content: space-between;
    .port{
      border: 1px black solid;
      margin: 15px;
      min-width: 220px;
      min-height:220px;
      position: relative;
      .detail{

        display: none;
      }
      &:hover{
        .detail{
          width: 100%;
          background: lightcoral;
          position: absolute;
          bottom: 0;
          display: block;
        }
      }
    }
  }
}
